{% extends 'sproject_manager/base.html' %}

{% block title %}Main Menu{% endblock %}

{% block content %}

<div class="container">
{% if project_list %}
    {% for proj in project_list %}
    <div class="row">
      <div class="col-md-6">
        <h2>{{ proj.name }}</h2>
        <br>
        <p>{{ proj.description }}</p>
        <br>
        <a class="btn btn-primary" href="{% url 'project_manager:proj-details' proj.id %}">View Project Details</a>
        <br>
      </div>
      <div class="col-md-6">

      </div>
    </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tasks</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Expected Meet Date</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for task in task_list %}
            {% if task.project.id == proj.id %}
            <tr>
              <th scope="row">{{ task.name }}</th>
              <td>{{ task.start_date }}</td>
              <td>{{ task.end_date }}</td>
              <td>{{ task.expected_end_date }}</td>
              <td>{{ task.status }}</td>
              <td><a href="{% url 'project_manager:update-task' task.id %}"><button class="btn btn-outline-info" >View</button></a> </td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
        <br>
        <br>
        <hr>
    {% endfor %}
{% else %}
<p>Sorry, pal</p>
{% endif %}


</div>

{% endblock %}