{% extends 'sproject_manager/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Create A Project</h1>
    </div>
    <div class="col-md-6">
      <a href="{% url 'project_manager:index' %}"><button class="btn btn-primary">Home</button></a>
    </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        {{ proj.name|as_crispy_field }}
        {{ proj.description|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ proj.complete_date|as_crispy_field }}
        {{ proj.author|as_crispy_field }}
        {{ proj.active|as_crispy_field }}
      </div>

    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>

</div>

{% endblock %}